:root {
    --logo: url("https://hormress.github.io/SCP/image/logo/main/black.svg");

    --basalt-primary-color: 254, 254, 254;
    --basalt-secondary-color: 241, 242, 244;
    --basalt-tertiary-color: 218, 219, 222;
    --basalt-main-text-color: 20, 20, 20;
    --basalt-overtone: 50, 50, 50;
    --basalt-undertone: 61, 71, 202;
 
    --basalt-bright-element-color: 16, 76, 184;
    --basalt-dark-element-color: 18, 20, 150;
    --basalt-darker-element-color: 8, 10, 60;
    --basalt-alternate-color: 255, 132, 0;
    --basalt-positive-color: 24, 163, 20;
    --basalt-negative-color: 255, 48, 48;
    --basalt-sub-text-color: 155, 154, 162;

    --header-title-color: var(--basalt-main-text-color);
    --header-subtitle-color: var(--basalt-main-text-color);
    --header-color-one: var(--basalt-secondary-color);
    --header-color-two: var(--basalt-primary-color);
    --top-bar-link-color: var(--basalt-main-text-color);
    --UI-title-color: var(--basalt-main-text-color);

    --side-bar-button-color-hover: var(--basalt-light-text-color);
    --search-icon-color-hover: var(--basalt-light-text-color);
    --user-icon-button-color-hover: var(--basalt-light-text-color);

    --hr-gradient: linear-gradient(var(--header-gradient-rotation), rgb(var(--hr-color-one), 0.75) 0%, rgb(var(--hr-color-two)) 100%);
    --hr-color-one: var(--basalt-undertone);
    --hr-color-two: var(--basalt-undertone);
}