:root {
    --logo: url("https://hormress.github.io/SCP/image/logo/main/white.svg");

    --basalt-primary-color: 254, 254, 254;
    --basalt-secondary-color: 227, 228, 234;
    --basalt-tertiary-color: 198, 199, 207;
    --basalt-main-text-color: 20, 20, 20;
    --basalt-overtone: 20, 20, 20;
    --basalt-undertone: 57, 114, 164;
 
    --basalt-bright-element-color: 16, 104, 144;
    --basalt-dark-element-color: 66, 66, 72;
    --basalt-darker-element-color: 44, 44, 48;
    --basalt-alternate-color: 255, 132, 0;
    --basalt-positive-color: 24, 163, 20;
    --basalt-negative-color: 255, 48, 48;
    --basalt-sub-text-color: 155, 154, 162;

    --header-title-color: var(--basalt-light-text-color);
    --header-subtitle-color: var(--basalt-light-text-color);
    --header-color-one: var(--basalt-dark-element-color);
    --header-color-two: var(--basalt-darker-element-color);
    --top-bar-link-color: var(--basalt-light-text-color);
    --UI-title-color: var(--basalt-light-text-color);

    --side-bar-button-color-hover: var(--basalt-light-text-color);
    --search-icon-color-hover: var(--basalt-light-text-color);
    --user-icon-button-color-hover: var(--basalt-light-text-color);

    --diagonal-stripes-width: 0.5rem;
    --diagonal-stripes-gap: 0.75rem;
    --diagonal-stripes-opacity: 0.04;

    --hr-gradient: var(--header-gradient);
    --hr-color-one: var(--header-color-one);
    --hr-color-two: var(--header-color-two);
}