:root {
    --logo: url("https://hormress.github.io/SCP/image/logo/main/white.svg");

    --basalt-primary-color: 29, 28, 32;
    --basalt-secondary-color: 66, 66, 69;
    --basalt-tertiary-color: 78, 78, 80;
    --basalt-main-text-color: 254, 254, 254;
    --basalt-overtone: 254, 254, 254;
    --basalt-undertone: 232, 20, 20;
 
    --basalt-bright-element-color: 255, 20, 20;
    --basalt-dark-element-color: 184, 46, 46;
    --basalt-darker-element-color: 232, 75, 75;
    --basalt-alternate-color: 132, 132, 20;
    --basalt-positive-color: 24, 163, 20;
    --basalt-negative-color: 255, 48, 48;
    --basalt-sub-text-color: 162, 154, 155;

    --side-bar-button-color-hover: var(--basalt-light-text-color);
    --search-icon-color-hover: var(--basalt-light-text-color);
    --user-icon-button-color-hover: var(--basalt-light-text-color);
 
    --header-title-color: var(--main-text-color);
    --header-subtitle-color: var(--main-text-color);
    --header-color-one: var(--basalt-secondary-color);
    --header-color-two: var(--basalt-primary-color);

    --top-bar-link-color: var(--basalt-overtone);
 
    --UI-title-color: var(--basalt-bright-element-color);
    --UI-title-background-color: var(--basalt-secondary-color);

    --hr-gradient: linear-gradient(var(--header-gradient-rotation), rgb(var(--hr-color-one), 0.75) 0%, rgb(var(--hr-color-two)) 100%);
    --hr-color-one: var(--basalt-secondary-color);
    --hr-color-two: var(--basalt-tertiary-color);
}